<!DOCTYPE html>
<html>
	<head>
	    <title >BookList</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="css/general.css"  />
	    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<body>
		<a href="http://localhost:8080/booklist"><button style="margin-left: 90%; font-size: 20px">Back</button></a>
		<div  class="error">
			<h1 style="font-size: 62px; text-align: center; margin-top: 50px">Access Denied !</h1>
			<h2 style="font-size: 32px; text-align: center; margin-top: 50px">Your actions are invalid, please do not violate your restrictions!</h2>
		</div>
	</body>
</html>